@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin transition($str) {
    -webkit-transition: #{$str};
    -moz-transition: #{$str};
    -ms-transition: #{$str};
    -o-transition: #{$str};
    transition: #{$str};
}