/* --- Colours --- */
$darkturqoise: #3d94a6;
$lightturqoise: #58b5c9;

/* --- Font colours --- */
$default: #4f6e75;
$alt: #ffffff;

/* --- Fonts ---- */
$LieToMe: 'LieToMe', Arial, Helvetica, sans-serif;
$Arial: Arial, Helvetica, sans-serif;
